* {
    font-family: 'Poppins', sans-serif;
  }

.btn-search {
    margin-right: 10px;
}  
.btn-secondary {
    border: 1px solid #232526;
    background-color: #232526;
}

.hero-home {
    margin-top: 50px;
}
.hero-home h1 {
    font-size: 45px;
    line-height: 57px;
    color: #141414;
    font-weight: 700;
}
.hero-home h1 span {
    color: #E08773;
}

.form {
    border-radius: 10px;
    padding: 30px;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.form-group input {
    border: 1px solid #eeeeee;
}
.form-group input::placeholder {
    font-size: 14px;
    color: #bbbbbb;
}
.form-group label {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 16px;
    color: #797373;
}
.account-action {
    font-size: 14px;
    color: #797373;
    font-weight: normal;
}
.account-action:hover{
    color: #E08773;
}


.footer{
    padding-top: 40px;
    padding-bottom: 60px;
    margin-top: 100px;
    background-color: #232526;
}
.footer-description {
    margin-top: 10px;
    font-size: 15px;
    color: #d4d4d4;
    font-weight: normal;
    line-height: 27px;
}
.footer .registered {
    margin-top: 15px;
    font-size: 14px;
    color: #b1b1b1;
    font-weight: normal;
}
.footer .nav div {
    color: #797373;
}
.footer .nav-link {
    font-size: 14px;
    color: #bbbbbb;
}
.footer .nav-link:hover {
    opacity: 0.6;
}

@media (max-width:767px){
    .form {
        margin-top: 50px;
    }
    .footer .nav {
        margin-top: 15px;
        margin-left: -14px;
    }
   
}